.action_card{
    display: flex;
    margin-top: 5px;
    
}

.card{
    flex: 1;
    min-height: 300px;
    width:auto;
    border-radius: 8px;
    margin: 0px 8px;
    border: 4px solid rgb(8, 8, 8);
    
}

.card_image img{
   height: 250px;
   width:330px;

}

.card_text {
    height: 80px;
    width: 100%;
    background-color: rgb(20, 20, 20);
    padding: 3px;
    margin-top: 0px;

}
.card_text p {
    font-size: 15px;
    color: white;

}
button {
    appearance: none;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
    transition: background .5s ease, color .5s ease;
    border: none;
    background: rgb(0, 14, 53);
    border-radius: 10px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 5px 8px;
    font-weight: 100;
    font-size: 12px;
    cursor: pointer;
    color: #ffffff;
}

    button:hover {
        color: #ffffff;
        background:black;
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
     }
    
     @media (max-width: 768px) {
         .action_card {
             display: block;
         }
                 .card {
                
                     min-height: 300px;
                     width:auto;
                     border-radius: 8px;
                     margin: 10px 8px;
                     border: 4px solid rgb(8, 8, 8);
                 }

        .card_image img{
            width: 100%;
        }
     }

         @media (max-width: 998px) {
             .action_card {
                 display: block;
             }

             .card_image img{
                 width: 100%;
             }
    
             .card {
    
                 min-height: 300px;
                 width: auto;
                 border-radius: 8px;
                 margin: 10px 8px;
                 border: 4px solid rgb(8, 8, 8);
             }
         }