.content {
    margin-top: 5px;
    min-height: 200px;
    min-width: 100%;
    margin: 0 10px;
    
}
.content h1 {
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 15px;
  color: rgb(77, 75, 196);
}

.content p {
   font-size: 18px;
   color: #ccc;
   margin-bottom: 8px;

}

.content button {
    font-size: large;
    font-weight: bold;
    padding: 10px;
    color: rgb(77, 75, 196) ;
    background-color: #ccc;

}

.content button:hover {
    background: black;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}